.text-title {
    font-size: 24px;
    font-weight: 600;
    font-style: italic;
    font-family: "Robotto Condensed", sans-serif;
    text-transform: capitalize;
    color: #000000;
}

.cartTotals {
    padding: 1rem 0;
}

@media (min-width:320px) and (max-width:480px) {
    .cart-col-p {
        font-size: 11px !important;
    }

    .cartitems>* {
        font-size: 13px;
    }

    .cartitems__btn {
        padding: 5px !important;
        margin-left: 2px !important;
        margin-right: 0 !important;

    }

    .text-title {
        font-size: 14px;
        font-weight: 400;
    }

}