/* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    top: 36px;
    right: 3rem;
  }
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: #ff0000;
  }
  
  /* Color/shape of burger icon bars on hover*/
  .bm-burger-bars-hover {
    background: #15f315;
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    background: #bdc3c7;
  }
  
  /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
  .bm-menu-wrap {
    position: fixed;
    height: 100%;
  }
  
  /* General sidebar styles */
  .bm-menu {
    background: #373a47;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
  }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }
  
  /* Wrapper for item list */
  .bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
  }
  
  /* Individual item */
  .bm-item {
    display: inline-block;
  }
  
  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }
  a{
      text-decoration: none;
  }


  /**SIDENAVITEMS***/
  
.option {
  font-weight: 300;
  font-size: 15px;
  color:#bababa;
  padding:10px;
  border-top: 1px solid #404040;
}

.option a {
  color:inherit;
  text-decoration: none;
}

.icon {
  color:rgb(93, 215, 236);
  margin-right:10px;
}

/* //NEW CSS */
.header {
  width: 100%;
  height: 56px;
  background: #2874f0;
}

.subHeader {
  max-width: 1100px;
  width: 100%;
  height: 100%;
  display: flex;
  margin: 0 auto;
  align-items: center;
}

.logo {
  width: 137px;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.logo .logoimage {
  width: 75px;
}

.exploreText {
  font-size: 10px;
  font-style: italic;
}

.plusText {
  font-size: 10px;
  margin: 0 2px;
  text-transform: capitalize;
  font-style: italic;
  color: yellow;
}

.logo .goldenStar {
  width: 10px;
  height: 10px;
}

.searchInputContainer {
  width: 560px;
  position: relative;
  background: #fff;
  height: 36px;
  border-radius: 1px;
  overflow: hidden;
  display: flex;
}

.searchInput {
  width: 518px;
  border: 0;
  height: 36px;
  outline: none;
  box-sizing: border-box;
  padding: 0 10px;
}

.searchIconContainer {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.rightMenu {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
}

.loginButton {
  display: block;
  width: 100px;
  height: 30px;
  background: #fff;
  text-align: center;
  line-height: 30px;
  color: #2874f0;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
}

.more,
.fullName {
  font-weight: bold;
  color: #fff;
  display: flex;
  align-items: center;
  margin: 0 20px;
  cursor: pointer;
}

.cart {
  font-weight: bold;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 20px
}

.authContainer {
  color: #212121;
  margin: 0 auto;
  border-radius: 2px;
  height: 528px;
  max-width: 750px;
  min-width: 650px;
}

.leftspace {
  width: 40%;
  height: 100%;
  color: #fff;
  letter-spacing: 1px;
  background-image: url('../../../../images/login-image.png');
  background-color: #2874f0;
  background-repeat: no-repeat;
  background-position: center 85%;
  padding: 40px 33px;
  box-sizing: border-box;
}

.rightspace {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}

.loginInputContainer {
  width: 100%;
  box-sizing: border-box;
  padding: 0 30px;
  margin: 40px 0;
}